[submodule "deps/SFML"]
	path = deps/SFML
	url = https://github.com/SFML/SFML
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/imgui-sfml"]
	path = deps/imgui-sfml
	url = https://github.com/SFML/imgui-sfml.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/glad"]
	path = deps/glad
	url = https://github.com/saenzag/glad
[submodule "deps/cmath"]
	path = deps/cmath
	url = https://github.com/saenzag/cmath.git
